@charset "utf-8";

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/**reset*******/
* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

ul:after,
ol:after {
    content: "";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    display: block;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

img {
    border: none;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: 'S-CoreDream-5Medium', 'Noto Sans KR', sans-serif;
    ;
    background-color: #f7f8fb;
}


/********HEADER*/
/*banner*/
.top_banner {
    width: 100%;
    height: 40px;
    background-color: #feb6b7;
    text-align: center;
    line-height: 40px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 998;
}

.top_banner p {
    font-size: 14px;
    font-weight: 700;
    color: #333;
}

.top_banner .closeBtn {
    position: absolute;
    top: 7%;
    right: 5%;
}

.top_banner .closeBtn img {
    width: 20px;
    height: 20px;
}


/*헤더*/
header {
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 0;
    top: 40px;
    border-bottom: 1px solid #eee;
    z-index: 9999;
}


header .header_inner {
    width: 90%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    /*	outline: 2px solid #f00;*/
}

/*로고*/
header .header_inner h1 {
    width: 20%;
    height: 100%;
    float: left;
}

header .header_inner h1 #logo img {
    height: 65px;
    display: block;
    margin-top: 17.5px;
}

/*navigation*/
nav {
    width: 70%;
    height: 100%;
    line-height: 100px;
    float: left;
}

nav .gnb li {
    float: left;
    width: 20%;
    /*outline: 1px solid #333;*/
}

nav .gnb li a {
    font-size: 20px;
    display: inline-block;
}

nav .gnb li a:hover {
    color: #e16254;
}

/*서브메뉴*/
.sub {
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 101px;
    display: none;
    /*outline: 1px solid lime;*/
}

.sub .sub_inner {
    width: 90%;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 260px;
    padding-top: 20px;
    position: relative;
    background: url(../img/char_logo.png) no-repeat left;
    background-size: 260px;
}

.sub .sub_inner .sub_wrap {
    width: 70%;
    margin: 0 auto;
    position: absolute;
    left: 20%;
}

.sub .sub_inner .sub_wrap .submenu {
    width: 20%;
    float: left;
}

.sub .sub_inner .sub_wrap .submenu li {
    padding: 14px 0;
}

.sub .sub_inner .sub_wrap .submenu li a {
    font-size: 16px;
    font-weight: 100;
    color: #555;
    transition: all .3s;
    padding-bottom: 6px;
    display: inline-block;
}

.sub .sub_inner .sub_wrap .submenu li a:hover {
    color: #e16254;
    border-bottom: 3px solid #e16254;
}

/*utility 로그인/회원가입*/
.utility {
    width: 10%;
    height: 100px;
    line-height: 100px;
    float: right;
    text-align: right;
    color: #333;
}

.utility li {
    display: inline-block;
}

.utility li:first-child {
    margin-right: 20px;
    position: relative;
}

.utility li:first-child::after {
    content: "";
    display: block;
    width: 1px;
    height: 15px;
    background-color: #ccc;
    position: absolute;
    top: 44px;
    right: -14px;
}

.utility li a {
    font-size: 14px;
}

.utility li a:hover {
    text-decoration: underline;
    color: #e16254;
}

/*main-Visual*/
.slider_box {
    width: 100%;
    /*outline: 2px solid red;*/
    margin-top: 140px;
    overflow: hidden;
    position: relative;
}

.slider_box .slider {
    width: 600%;
    position: relative;
    left: 0;
    top: 0;
}

.slider_box .slider li {
    float: left;
    width: 16.66666666666667%;
}

.slider li a img {
    width: 100%;
    height: 600px;
    display: block;

}

/*버튼*/
.btnBox {
    width: 240px;
    height: 34px;
    border-radius: 100px;
    position: absolute;
    bottom: 4%;
    left: 50%;
    margin-left: -120px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0 20px;
    box-sizing: border-box;
}

.btnBox a img {
    height: 20px;
    display: block;
    margin-top: 7px;
    float: left;
}

.btnBox .btnGroup {
    float: right;
    height: 100%;
}

.btnBox .btnGroup li {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 14px;
    margin-top: 7px;
    cursor: pointer;
}

.btnBox .btnGroup .selB {
    background-color: #e16254;
}

.btnBox .btnGroup li span {
    font-size: 0;
}


/*운영 시간*/
.main_info {
    width: 100%;
    height: 100px;
    color: #333;
}

.main_info .info_wrap {
    width: 780px;
    margin: 0 auto;
    /* outline: 1px solid orange;*/
}

/*공통*/
.info_wrap > div {
    height: 100%;
    text-align: center;
    position: relative;
}

.info_wrap > div::after {
    content: "";
    display: block;
    width: 1px;
    height: 50px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.info_wrap > div:first-child::after {
    display: none;
}

.info_wrap > div a {
    display: inline-block;
    /*    outline: 1px solid green;*/
}

/*각 항목*/
.info_wrap > div.info_time {
    float: left;
    width: 40%;
}

.info_wrap > div.info_ticket {
    float: left;
    width: 20%;
}

.info_wrap > div.info_fare {
    width: 20%;
    float: left;
}

.info_wrap > div.info_visit {
    width: 20%;
    float: left;
}

/*이미지 및 내용*/
.info_wrap > div a img {
    height: 38px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.info_wrap > div .info_title {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    letter-spacing: -1.2px;
    line-height: 100px;
}


/*attraction*/
.attraction {
    background: url(../img/attr_bg.png) no-repeat top/cover;
    background-size: cover;
    width: 100%;
    padding: 100px 0 120px;
    position: relative;
    overflow: hidden;
    color: #333;
}

/*배경*/
.attraction span.bgcover {
    width: 80%;
    max-width: 1280px;
    height: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
}

.attraction .attraction_wrap {
    width: 80%;
    max-width: 1280px;
    height: 80%;
    margin: 0 auto;
    position: relative;
    opacity: 0;
}

.attraction .attraction_wrap h2 {
    margin-top: 60px;
    text-align: center;
    font-size: 28px;
    font-weight: 100;
}

.attraction .attraction_wrap h2 span {
    font-weight: 700;
    font-size: 36px;
}

/*탭메뉴*/
.tabmenu {
    width: 600px;
    margin: 0 auto;
}

.tabmenu li {
    float: left;
    width: 200px;
    height: 60px;
    border: 2px solid #e16254;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    box-sizing: border-box;
    margin: 60px 0 50px;
}

.tabmenu li a {
    text-align: center;
    line-height: 60px;
    font-size: 18px;
}

.tabmenu li.on {
    background-color: #e16254;
}

.tabmenu li.on a {
    color: #fff;
    font-weight: 700;
}

/*어트랙션*/
.attraction_list {
    width: 100%;
}

.attraction_list li {
    float: left;
    width: 23%;
    box-sizing: border-box;
}

.attraction_list li ~ li {
    margin-left: 2.6666666%;
}

.attraction_list li a {
    background-color: #fff;
    text-align: center;
    border: 2px solid #e16254;
    border-radius: 25px;
}

.attraction_list li a img {
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 0;
    display: block;
}

.attraction_list li a:hover {
    background-color: #e16254;
    color: #fff;
    box-shadow: 4px 7px 16px #999;
    transition: all .6s ease;
    margin-top: -20px;
}

.attraction_list li a:hover .attr_txtbox > p {
    color: #fff;
}

.attraction_list li a h3 {
    padding: 10px 0;
    font-size: 20px;
}

.attraction_list li a p {
    padding: 10px 6px 18px;
    color: #777;
    letter-spacing: -0.8px;
    font-size: 15px;
    height: 40px;
    word-break: keep-all;
}

/*더 많은 어트랙션 보기 버튼*/
.attraction_wrap .attrBtn {
    margin: 60px 0;
    text-align: center;
}

.attraction_wrap .attrBtn .attrMore {
    display: inline-block;
    border: 1px solid #e16254;
    border-radius: 50px;
    padding: 12px 40px;
}

.attraction_wrap .attrBtn .attrMore:hover {
    background-color: #e16254;
    color: #fff;
}

#family-course {
    display: none;
}

#couple-course {
    display: none;
}

/*promotion*/
.promotion {
    width: 100%;
    margin-top: 80px;
    text-align: center;
    color: #333;
    opacity: 0;
}

.promotion .promotion_wrap {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.promotion .promotion_wrap h2 {
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 30px;
}

.promotion .promotion_wrap h2 span {
    font-size: 32px;
    font-weight: 700;
}

.promotion .promotion_wrap > p {
    font-size: 18px;
}

.promotion_box {
    width: 100%;
    padding-bottom: 30px;
}

/*혜택 각 항목*/
.promotion_box .promotion_con {
    float: left;
    margin-top: 80px;
    width: 23%;
}

.promotion_box .promotion_con a {
    position: relative;
    top: 200px;
}

.promotion_box .promotion_con ~ .promotion_con {
    margin-left: 2.6666666%;
}

.promotion_box .promotion_con a .odd {
    border-radius: 50%;
    background-color: #feb6b7;
    margin-bottom: 20px;
}

.promotion_box .promotion_con a .even {
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 20px;
}

.promotion_box .promotion_con a h3 {
    font-size: 20px;
    margin: 40px 0 8px;
    position: relative;
}

.promotion_box .promotion_con a h3:before {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: #e16254;
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -20px;
}

.promotion_box .promotion_con a p {
    color: #e16254;
    font-size: 16px;
    letter-spacing: -0.8px;
}

.promoBtn {
    width: 200px;
    display: inline-block;
    margin: 40px auto 0;
    display: none;
}

.promoBtn .promoMore {
    border: 1px solid #e16254;
    border-radius: 50px;
    padding: 12px;
}

.promoBtn:hover .promoMore {
    background-color: #e16254;
    color: #fff;
    /*font-weight: 700;*/
}

/*festival*/
.festival {
    margin-top: 120px;
    width: 100%;
    text-align: center;
    background: url(../img/fesitval_bg.png) no-repeat top/cover;
    position: relative;
    padding: 80px 0 20px;
    box-sizing: border-box;
    color: #333;
}

.festival h2 {
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 20px;
    margin-top: 60px;
    opacity: 0;
}

.festival h2 span {
    font-weight: 700;
    font-size: 36px;
}

.festival p {
    font-size: 18px;
    opacity: 0;
}

.festival_wrap {
    width: 80%;
    max-width: 1280px;
    margin: 60px auto;
    overflow: hidden;
    opacity: 0;
}

/*공연 - 슬라이더 박스*/
.festival_wrap .festival_sliderbox {
    width: 2140px;
    height: 380px;
    /*background-color: yellow;*/
}

.festival_wrap .festival_slider {
    width: 280px;
    height: 100%;
    margin-right: 30px;
    float: left;
    position: relative;
}

.festival_wrap .festival_slider:last-child {
    margin-right: 0;
}

/*hover시 라인 생기기*/
.festival_wrap .festival_slider span.line {
    position: absolute;
    background-color: #e16254;
}

.festival_wrap .festival_slider span.line:nth-child(1) {
    left: 0;
    top: 0;
    width: 0;
    height: 3px;
    transition: width 0.1s;
}

.festival_wrap .festival_slider span.line:nth-child(2) {
    right: 0;
    top: 0;
    width: 3px;
    height: 0;
    transition: height 0.1s linear 0.1s;
}

.festival_wrap .festival_slider span.line:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    transition: width 0.1s linear 0.2s;
}

.festival_wrap .festival_slider span.line:nth-child(4) {
    left: 0;
    bottom: 0;
    width: 3px;
    height: 0;
    transition: height 0.1s linear 0.3s;
}

.festival_wrap .festival_slider:hover span.line:nth-child(1) {
    width: 100%;
}

.festival_wrap .festival_slider:hover span.line:nth-child(2) {
    height: 100%;
}

.festival_wrap .festival_slider:hover span.line:nth-child(3) {
    width: 100%;
}

.festival_wrap .festival_slider:hover span.line:nth-child(4) {
    height: 100%;
}

/*공연 각 이미지*/
.festival_wrap .festival_slider a {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.festival_wrap .festival_slider .img-box {
    width: 100%;
    height: 270px;
}

.festival_wrap .festival_slider a img {
    display: block;
    width: 100%;
    height: 100%;
}

.festival_wrap .festival_slider a .festival_des {
    padding-top: 18px;
}

.festival_wrap .festival_slider a .festival_des .location {
    font-size: 12px;
    color: #fff;
    line-height: 1.8;
    display: inline-block;
    background-color: #e16254;
    padding: 2px 8px;
    margin-bottom: 12px;
    letter-spacing: -0.8px;
}

.festival_wrap .festival_slider a .festival_des .content {
    font-size: 20px;
    display: block;
    letter-spacing: -0.8px;
}

/*드래그 바*/
.dragbar {
    width: 480px;
    height: 22px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    margin: 80px auto 0;
    display: block;
}

.dragbar .bar {
    width: 120px;
    height: 100%;
    border-radius: 12px;
    background-color: #e16254;
    cursor: pointer;
}

/*notice*/
.notice {
    width: 100%;
    margin-top: 180px;
    color: #333;
    opacity: 0;
}

.notice h2 {
    font-size: 0;
}

/*전체*/
.notice_wrap {
    width: 1000px;
    height: 350px;
    margin: 0 auto;
}

/*뉴스/공지 박스*/
.notice_wrap .notice_box {
    width: 700px;
    height: 100%;
    border-bottom-left-radius: 30px;
    float: left;
    padding: 30px 27px 58px;
    background-color: #eee;
    position: relative;
    box-sizing: border-box;
}

.notice_box .notice_title h3 {
    font-size: 24px;
    margin-bottom: 30px;
    float: left;
}

.notice_box .notice_title a {
    position: absolute;
    top: 9%;
    right: 6%;
}

.notice_box .notice_title a img {
    width: 30px;
    height: 30px;
    display: block;
}

.notice_text li a {
    font-size: 18px;
    line-height: 2.4;
    display: inline-block;
}

.notice_text li a:hover {
    text-decoration: underline;
}

.notice_text li a span {
    position: absolute;
    right: 6%;
    font-size: 16px;
    margin-top: 5px;
}

/*루나패스 박스*/
.lunapass {
    width: 300px;
    height: 100%;
    float: left;
    text-align: center;
    /*outline: 3px solid red;*/
}

/*루나패스 - 제목부분*/
.lunapass_title {
    background-color: #e16254;
    height: 25%;
    padding-top: 10px;
    box-sizing: border-box;
    color: #fff;
    border-top-right-radius: 30px;
}

.lunapass_title h2 {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 10px;
    color: #fff;
}

.lunapass_title p {
    color: #fff;
    font-size: 16px;
}

/*루나패스 - 정보 부분*/
.lunapass_info {
    width: 100%;
    height: 60%;
    background-color: #fff;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}

.lunapass_info ul {
    width: 100%;
    height: 100%;
}

.lunapass_info li {
    float: left;
    width: 50%;
    height: 50%;
    padding: 10px 0;
    box-sizing: border-box;
    /*outline: 1px solid blue;*/
}

.lunapass_info li img {
    width: 50px;
    border: 2px solid #e16254;
    border-radius: 50%;
}

.lunapass_info li p {
    font-size: 14px;
    color: #555;
    margin-top: 6px;
}

.use {
    width: 100%;
    height: 15%;
    line-height: 52.5px;
    background-color: #e16254;
}

.use a {
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.8px;
    display: inline-block;
}

.use a:hover {
    text-decoration: underline;
}

/*sns*/
.insta {
    width: 100%;
    margin-top: 120px;
    color: #333;
}

.insta h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.insta p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 60px;
    letter-spacing: 3px;
}

.insta_wrap {
    width: 100%;
    overflow: hidden;
}

/*이미지 흘러가게 하기*/
.insta_wrap .flowImg {
    width: 3240px;
    position: relative;
    left: 0;
}

.insta_wrap .flowImg > li {
    position: relative;
    width: 324px;
    float: left;
}

.insta_wrap .flowImg > li:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/icon_sns_insta.png) no-repeat;
    position: absolute;
    top: 5%;
    right: 19%;
}

.insta_wrap .flowImg img {
    width: 280px;
    border-radius: 10px;
    display: block;
}

/*top버튼*/
#tbtn {
    width: 80px;
    height: 80px;
    background: url(../img/top.png) no-repeat;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -0.2px;
    position: relative;
    top: 80%;
    left: 91%;
    cursor: pointer;
    transition: all .5s ease-out;
    animation: tmove 1.5s infinite alternate linear;
    box-shadow: 4px 7px 10px #999;
}

@keyframes tmove {
    0% {
        top: 80%;
    }

    100% {
        top: 81%;
    }
}

/*footer*/
footer {
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 40px 0;
    margin-top: 120px;
    color: #333;
}

footer .footer_inner {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.footer_top .flogo {
    float: left;
    width: 142px;
    height: 60px;
    margin-right: 30px;
    display: inline-block;
}

.footer_top .footer_link {
    margin: 10px 0;
}

.footer_top .footer_link li {
    float: left;
    margin: 20px 30px 0;
    text-align: center;
    /*outline: 2px solid lime;*/
}

.footer_top .footer_link li a {
    letter-spacing: -0.8px;
}

.footer_top .footer_link li a:hover {
    text-decoration: underline;
    color: #e16254;
}

.footer_top .fsns {
    width: 20%;
    float: left;
    position: absolute;
    top: 4%;
    right: 2%;
    /*outline: 2px solid blue;*/
}

.footer_top .fsns li {
    float: left;
}

.footer_top .fsns li:nth-child(2) {
    margin: 0 10px;
}

.footer_top .fsns li img {
    width: 40px;
    height: 40px;
    display: block;
}

.footer_bottom {
    margin-top: 40px;
}

.footer_bottom address {
    line-height: 1.8;
    margin-bottom: 20px;
    font-style: normal;
}

.footer_bottom .copyright {
    font-size: 18px;
}
