@charset "utf-8";

/*main*/
main {
    width: 100%;
    height: 420px;
    background: url(../img/sub3/main_bg.png) no-repeat center/cover;
    position: relative;
    margin-top: 100px;
}

main:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
}

main .main_inner {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

/*lnb*/
main .lnb {
    position: absolute;
    top: 30px;
    left: 0;
}

main .lnb .location {
    width: 300px;
    /*text-align: center;*/
}

main .lnb .location > li {
    float: left;
    position: relative;
	color: #fff;
	font-size: 14px;
}

main .lnb .location > li:before {
    content: "";
    display: block;
    width: 2px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: 4px;
    left: 0px;
}
main .lnb .location > li:nth-child(2) {
    width: 60px;
    padding-left: 12px;
    padding-right: 0px;
}
main .lnb .location > li:last-child {
    width: 140px;
    padding-left: 16px;
}

main .lnb .location > li:first-child:before {
    display: none;
}
main .lnb .location > li:last-child:before {
	margin-left: 4px;
}

main .lnb .location .home {
    width: 30px;
}

main .lnb .location .home a img {
    width: 20px;
    display: block;
}

main .main_title {
    padding-top: 100px;
    text-align: center;
    color: #fff;
}

main .main_title h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

main .main_title p {
    line-height: 1.6;
    font-size: 24px;
}


/*위치 탭메뉴*/
.res_title {
    /*width: 80%;*/
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.res_title ul {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    line-height: 60px;
    position: relative;
}

.res_title ul:before {
    content: "";
    display: block;
    width: 1px;
    height: 40px;
    background-color: #999;
    position: absolute;
    top: 10px;
}

.res_title ul:after {
    content: "";
    display: block;
    width: 1px;
    height: 40px;
    background-color: #999;
    position: absolute;
    top: 10px;
    right: 0;
}

.res_title li {
    float: left;
    width: 20%;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.res_title li:after {
    content: "";
    display: block;
    width: 1px;
    height: 40px;
    background-color: #999;
    position: absolute;
    right: 0;
    top: 10px;
}

.res_title li:last-child:after {
    display: none;
}

.res_title li.active a {
    color: #e16254;
}

.res_title li a {
    font-size: 20px;
}


/*section*/
#world {
	/*display: none;*/
}
#adventure {
    display: none;
}
#character {
    display: none;
}
#tomorrow {
    display: none;
}
#samchulli {
    display: none;
}


.restaurant {
    width: 80%;
	max-width: 1280px;
    margin: 120px auto;
	color: #333;
}

.restaurant .title {
    font-size: 32px;
    margin-bottom: 60px;
}

.restaurant .title span {
    color: #999;
    font-weight: 100;
    margin-left: 38px;
    font-size: 26px;
    font-style: italic;
}
.restaurant .restaurant_wrap {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 60px;
}
.restaurant .restaurant_wrap:last-child {
    border-bottom: 0;
}

/*카테고리 이름*/
.restaurant .restaurant_wrap .name {
    font-size: 28px;
    margin-bottom: 40px;
    vertical-align: middle;
}

.restaurant .restaurant_wrap .name .category {
    width: 40px;
    vertical-align: middle;
    margin-right: 14px;
    border-left: 5px solid #e16254;
    padding: 6px;
}

/*각 박스*/
.restaurant_wrap .restaurant_box {
    width: 30%;
    height: 330px;
    margin-bottom: 60px;
    margin-right: 3.3333333%;
    position: relative;
	border: 3px solid #e16254;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 50px;
    float: left;
    box-sizing: border-box;
    /*outline: 1px solid red;*/
}

.restaurant_wrap .restaurant_box>a {
    width: 68%;
    /*width: 264px;*/
    height: 200px;
	overflow: hidden;
    border-top-left-radius: 30px;
}
.restaurant_wrap .restaurant_box .largeimg {   
    height: 200px;
    display: inline-block;
    border-top-left-radius: 30px;
    transition: all 0.6s;
}
.restaurant_wrap .restaurant_box a:hover  .largeimg{
	transform: scale(1.05);
}
.restaurant_wrap .restaurant_box .thumbs {
    position: absolute;
    top: 0;
    left: 68%;
}
.restaurant_wrap .restaurant_box .thumbs img {
    width: 100%;
    height: 100px;
	box-sizing: border-box;
    display: block;
    border-left: 3px solid #e16254;
    border-bottom: 3px solid #e16254;
}

.restaurant_wrap .restaurant_box .restaurant_des {
    position: relative;
}

.restaurant_des h3 {
    margin: 10px 8px 22px;
    font-size: 20px;
    letter-spacing: 0.2px;
    width: 60%;
}

.restaurant_des>p {
    width: 95%;
    margin-left: 8px;
    font-size: 14px;
    line-height: 1.8;
}

.restaurant_des .menu {
    width: 40%;
    position: absolute;
    top: 0%;
    left: 52%;
    white-space: nowrap;
}
.restaurant_des .menu img {
	width: 30px;
	display: inline-block;
    background-color: #e16254;
    float: left;
}
.restaurant_des .menu p {
    text-indent: 5px;
    font-size: 14px;
    font-weight: 700;
    margin-top: -2px;
}

.restaurant_des .menu p span {
	display: block;
    font-size: 12px;
    color: #555;
    margin-left: 22px;
    font-weight: 400;
}

/*top버튼*/
#tbtn {
    width: 80px;
    height: 80px;
    background: url(../../img/top.png) no-repeat;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -0.2px;
    position: relative;
    top: 80%;
   left: 91%;
    cursor: pointer;
    transition: all .5s ease-out;
    animation: tmove 1.5s infinite alternate linear;
    box-shadow: 4px 7px 10px #999;
}

@keyframes tmove {
    0% {
        top: 80%;
    }
    100% {
        top: 81%;
    }
}

footer {
    margin-top: 0;
}