@charset "utf-8";

@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

ul,
ol,
li {
	list-style: none;
}

ul:after,
ol:after {
	content: "";
	display: block;
	clear: both;
}

a {
	text-decoration: none;
	display: block;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

img {
	border: none;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

body {
	font-family: 'S-CoreDream-5Medium', 'Noto Sans KR', sans-serif;
}